<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="Tatort, Kommentare, Twitter">
    <meta name="description" content="Sammlung der Kommentare der heutigen Tatortsepisode auf Twitter">
    <meta name="application-name" content="Tatort Kommentare">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="static/css/normalize.css">
    <link rel="stylesheet" href="static/css/style.css">
    <script src="https://kit.fontawesome.com/220a16b10a.js" crossorigin="anonymous"></script>
    <title>Tatort Kommentare</title>
</head>
<body>
    <header>
        <div id="logo">
            <h1 class="hide">Tatort</h1>
            <h1 id="kommentare" onclick="topFunction()">Kommentare</h1>
        </div>
    </header>
    <section>
        <!-- Info -->
        <span id="title" class="block">letzte Episode:&nbsp;</span>
        <span id="broadcastDate" class="date block">19.04.2020</span>
        <h2 id="subject" class="block"><a href="https://www.daserste.de/unterhaltung/krimi/tatort/sendung/die-guten-und-die-boesen-100.html" target="_blank">Die Guten und die Bösen
            (Janneke und Brix (Frankfurt))</a></h2>
        <!-- Nav -->
        <h3><i class="fab fa-twitter"></i>&nbsp;&nbsp;auf Twitter</h3>
        <!-- Tweets -->
        <article>
            <div class="tweet">
                <div class="twtContentBox">
                    <p class="tweetId inlineBlock">@Bjoern_Hayer</p>
                    <p class="date inlineBlock right">19.04.20</p>
                    <p class="tweetContent">So ist es! Selten einen so schwachen und pseudophilosophischen #Tatort gesehen, der nicht weiß, was er will. Geschichte schlecht, Drehbuch schlecht, einzig Elsner ist ein Trost. https://t.co/ci2ENcfXxX</p>
                </div>
            </div>
            <div class="tweet">
                <div class="twtContentBox">
                    <p class="tweetId inlineBlock">@Bjoern_Hayer</p>
                    <p class="date inlineBlock right">19.04.20</p>
                    <p class="tweetContent">So ist es! Selten einen so schwachen und pseudophilosophischen #Tatort gesehen, der nicht weiß, was er will. Geschichte schlecht, Drehbuch schlecht, einzig Elsner ist ein Trost. https://t.co/ci2ENcfXxX</p>
                </div>
            </div>
            <div class="tweet">
                <div class="twtContentBox">
                    <p class="tweetId inlineBlock">@Bjoern_Hayer</p>
                    <p class="date inlineBlock right">19.04.20</p>
                    <p class="tweetContent">So ist es! Selten einen so schwachen und pseudophilosophischen #Tatort gesehen, der nicht weiß, was er will. Geschichte schlecht, Drehbuch schlecht, einzig Elsner ist ein Trost. https://t.co/ci2ENcfXxX</p>
                </div>
            </div>
            <div class="tweet">
                <div class="twtContentBox">
                    <p class="tweetId inlineBlock">@Bjoern_Hayer</p>
                    <p class="date inlineBlock right">19.04.20</p>
                    <p class="tweetContent">So ist es! Selten einen so schwachen und pseudophilosophischen #Tatort gesehen, der nicht weiß, was er will. Geschichte schlecht, Drehbuch schlecht, einzig Elsner ist ein Trost. https://t.co/ci2ENcfXxX</p>
                </div>
            </div>
            <div class="tweet">
                <div class="twtContentBox">
                    <p class="tweetId inlineBlock">@Bjoern_Hayer</p>
                    <p class="date inlineBlock right">19.04.20</p>
                    <p class="tweetContent">So ist es! Selten einen so schwachen und pseudophilosophischen #Tatort gesehen, der nicht weiß, was er will. Geschichte schlecht, Drehbuch schlecht, einzig Elsner ist ein Trost. https://t.co/ci2ENcfXxX</p>
                </div>
            </div>
        </article>
        <!-- Button To Top -->
        <button onclick="topFunction()" id="topBtn" title="Go to top">
            <i class="fas fa-chevron-circle-up"></i>
        </button>
    </section>
    <footer>
        <p class="footer">published by NBKO&nbsp;<a href="https://github.com/nbko-dev" target="_blank" id="github"><i
                class="fab fa-github-alt"></i></a></p>
    </footer>
<script type="text/javascript" src="static/js/script.js"></script>
</body>
</html>